<template name="list">
    <div class="container">
        <button class="btn-floating btn-large waves-effect waves-light red new_user" ><i class="material-icons">person_add</i>
        </button>
        <button class="btn-floating btn-large waves-effect waves-light red show_user" ><i class="material-icons">play_for_work</i>
        </button>
        <div class="row user_form">
            <h2 class="center">{{title}}</h2>
            <form class="col s12 list">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="firstName" name="firstName" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lastName" name="lastName" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn-floating btn-large waves-effect waves-light green" onclick="toast()" type="submit"><i class="material-icons">add</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{> listUsersAdded}}
        </div>
    </div>
</template>

<template name="listUsersAdded">
    <div class="tbUsers">
        <h2 class="center">{{title}}</h2>
            {{#each list}}
                {{> formUser}}
            {{/each}}
    </div>
</template>

<template name="formUser">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s2">
                <input type="text" value="{{ firstNameUser }}">
            </div>
            <div class="input-field col s2">
                <input type="text" value="{{ lastNameUser }}">
            </div>
            <div class="input-field col s2">
                <input type="text" value="{{ passwordUser }}">
            </div>
            <div class="input-field col s2">
                <input type="text" value="{{ emailUser }}">
            </div>
            <div class="">
                <button class="btn-large waves-effect waves-light" ><i class="material-icons">edit</i>
                </button>
                <button class="btn-large waves-effect waves-light" ><i class="material-icons">delete</i>
                </button>
            </div>

        </div>
    </form>
</template>
