<template name="list">
    <div class="container">
        <button class="btn-floating btn-large waves-effect waves-light red new_user" ><i class="material-icons">person_add</i>
        </button>
        <button class="btn-floating btn-large waves-effect waves-light red show_user" ><i class="material-icons">play_for_work</i>
        </button>
        <div class="row user_form">
            <h2 class="center">{{title}}</h2>
            <form class="col s12 list">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="firstName" name="firstName" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lastName" name="lastName" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn-floating btn-large waves-effect waves-light green" onclick="toast()" type="submit"><i class="material-icons">add</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{> listUsersAdded}}
        </div>
    </div>
</template>

<template name="listUsersAdded">
    <div class="tbUsers">
        <h2 class="center">{{title}}</h2>
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th data-field="first">First_Name</th>
                <th data-field="last">Last_Name</th>
                <th data-field="pass">Password</th>
                <th data-field="email">Email</th>
                <th data-field="btns"></th>
            </tr>
            </thead>

            <tbody>
            {{#each list}}
                {{#if editing}}
                    <tr>
                        <td><input type="text" id="editFirstName" value="{{firstNameUser}}"></td>
                        <td><input type="text" id="editLastName" value="{{lastNameUser}}"></td>
                        <td><input type="text" id="editPassword" value="{{passwordUser}}"></td>
                        <td><input type="text" id="editEmail" value="{{emailUser}}"></td>
                        <td>
                            <button class="btn-floating waves-effect waves-light saveItem" onclick="saveEdit()" ><i class="material-icons">save</i></button>
                            <button class="btn-floating waves-effect waves-light cancelItem"><i class="material-icons">cancel</i></button>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td>{{firstNameUser}}</td>
                        <td>{{lastNameUser}}</td>
                        <td>{{passwordUser}}</td>
                        <td>{{emailUser}}</td>
                        <td>
                            <button class="btn-floating waves-effect waves-light editItem" ><i class="material-icons">edit</i></button>
                            <button class="btn-floating waves-effect waves-light deleteItem" onclick="toastDelete()" ><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="listUsers$toastInserted">
    <span>
    {{#if error}}
        {{> errorIcon}}Failed to add user
    {{else}}
        {{> doneIcon}} {{firstName}} {{lastName}} added successfully
    {{/if}}
    </span>
</template>

<template name="listUsers$toastEdited">
    <span>
        {{#if error}}
            {{> errorIcon}}Failed to edit user
        {{else}}
            {{> doneIcon}} {{firstName}} {{lastName}} edited successfully
        {{/if}}
    </span>
</template>

<template name="listUsers$toastDeleted">
    <span>
        {{#if error}}
            {{> errorIcon}}Failed to delete user
        {{else}}
            {{> doneIcon}} {{firstName}} {{lastName}} deleted successfully
        {{/if}}
    </span>
</template>

<template name="errorIcon">
    <i class="material-icons left materialize-red-text text-lighten-1">&#xE001;</i>
</template>

<template name="doneIcon">
    <i class="material-icons left light-green-text text-darken-2">&#xE876;</i>
</template>